<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Get</title>
  </head>
  <body>
    <h1>Get Page</h1>
    <form method="get" action="">
      <table>
        <tr>
          <td>メッセージ</td>
          <td><input type="text" name="msg"></td>
        </tr><tr>
          <td><input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
    <h2>↓Message↓</h2>
    <table>
      <tr>
        <th>メッセージ</th>
        <th>{{ msg }}</th>
      </tr>
    </table>
  </body>
</html>
